* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 14.7px;
}
body {
    background: #339900 url(masters2014_trump_fu_frame10.jpg) no-repeat top center fixed;
    background-size: cover;
    font-family: Lato, Avenir, sans-serif;
    color: white;
    text-align: center;
    height: 100%;
}
body:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25rem;
}
main {
    max-width: 60rem;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    padding: 3rem;
    text-align: center;
}
h1 {
    font-size: 2.75rem;
    line-height: 3.33rem;
    font-weight: 300;
}
@media (max-width: 480px) {
    h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }
}
span {
    margin-top: 2rem;
    display: block;
    font-size: 1.3rem;
    line-height: 2rem;
}
a {
    color: inherit;
}
a:hover {
    color: rgba(255,255,255,0.8);
}
main > a {
    display: inline-block;
    border: 1px solid white;
    border-radius: 100rem;
    padding: 1.5rem;
    margin-top: 4rem;
    text-decoration: none;
    text-transform: uppercase;
}
main > a:hover {
    background-color: rgba(255,255,255,0.15);
    color: inherit;
}
aside {
    margin-top: -2rem;
    font-size: 0.8rem;
    color: rgba(255,255,255,0.5);
}
